@model GeneralStoreMVC.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Transaction Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfTransaction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
